/*
    CSS for the portfolio
    By Yohan
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #001626;
}
::-webkit-scrollbar-thumb {
    background: #00233B;
    border-radius: 0.15rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #002e4d;
}
::-moz-scrollbar {
    width: 10px;
}
::-moz-scrollbar-track {
    background: #001626;
}
::-moz-scrollbar-thumb {
    background: #00233B;
    border-radius: 0.15rem;
}
::-moz-scrollbar-thumb:hover {
    background: #002e4d;
}

/* MENU */
menu {
    background: #00233B;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
menu ul li {
    cursor: pointer;
    font-size: 200%;
    margin: 10px 0;
    transition: color 0.15s ease-in-out;
}
menu ul li:hover {
    color: rgb(202, 202, 202);
    transition: color 0.15s ease-in-out;
}
.active {
    color: rgb(43, 83, 136) !important;
    transition: all 0.15s ease-in-out;
}

menu ul .sel-language {
    position: fixed;
    bottom: 0;
}
menu ul .div-language {
    position: fixed;
    bottom: 0;
    left: 100px;
    background: rgba(0, 35, 59, 0.9);
    padding: 10px 20px;
    z-index: 100;
}
menu ul .div-language li:nth-child(1) {
    margin-bottom: -20px;
}
menu ul li img {
    width: 40px;
}

/* CONTAINER */
#container {
    height: 100%;
    margin-left: 100px;
}
#container .section {
    background: #001626;
    color: white;
    height: 100vh;
}
/* Profile */
#container #profile-sect {
    display: flex;
    flex-direction: column;
}
#container #profile-sect #content {
    background: #001626;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
#container #profile-sect #content div {
    width: 35%;
}
#container #profile-sect #content div.left-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#container #profile-sect #content div.left-menu h1 {
    font-size: 300%;
}
#container #profile-sect #content div.left-menu h2 {
    font-weight: normal;
    font-size: 250%;
}
#container #profile-sect #content div.left-menu h2:nth-child(2) span {
    font-weight: bold;
}
#container #profile-sect #content div.left-menu h2:nth-child(3) span {
    font-weight: bold;
    font-style: italic;
}
#container #profile-sect #content div.left-menu h2:nth-child(3) b {
    cursor: pointer;
}
#container #profile-sect #content div.right-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#container #profile-sect #content img.me-img {
    width: 250px;
    border-radius: 50%;
}
#container #profile-sect #content div button {
    cursor: pointer;
    font-size: 150%;
    width: 100%;
    padding: 5px;
    color: white;
    background: none;
    outline: none;
    border: solid 5px #043657;
    border-radius: 0.3rem;
    margin-top: 10px;
    transition: background 0.15s ease-in-out;
}
#container #profile-sect #content div button:hover {
    background: #043657;
    transition: background 0.15s ease-in-out;
}
#container #profile-sect #content div:nth-child(2) h2 {
    font-size: 180%;
}
#container #profile-sect #content div:nth-child(2) p {
    font-size: 170%;
    font-style: italic;
    margin-top: -5px;
}
#container #profile-sect #downArrow {
    text-align: center;
    margin-bottom: 80px;
}
#container #profile-sect #downArrow span {
    cursor: pointer;
    padding: 15px;
    border: solid 2px #00233B;
    border-radius: 30%;
    animation-name: goDownBtn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 0.15s ease-in-out;
}
#container #profile-sect #downArrow span:hover {
    background: #00233B;
    transition: all 0.15s ease-in-out;
}
@keyframes goDownBtn {
    20% {
        border: solid 2px green;
    }
    40% {
        border: solid 2px orange;
    }
    60% {
        border: solid 2px yellow;
    }
    80% {
        border: solid 2px red;
    }
}
/* About */
#container #about-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#container #about-sect .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#container #about-sect .header h1 {
    font-size: 250%;
}
#container #about-sect .header p {
    font-size: 120%;
}
#container #about-sect .contain {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
#container #about-sect .contain .card {
    display: flex;
    flex-direction: column;
}
#container #about-sect .contain .card span.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#container #about-sect .contain .card span.title h2 {
    text-decoration-line: underline;
}
#container #about-sect .contain .card p {
    font-size: 110%;
}
#container #about-sect .contain .card a {
    color: aqua;
    transition: color 0.15s ease-in-out;
}
#container #about-sect .contain .card a:hover {
    color: rgb(0, 184, 184);
    transition: color 0.15s ease-in-out;
}
/* Skills */
#container #skills-sect,
#container #skills2-sect,
#container #softskills-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #skills-sect h1,
#container #skills2-sect h1,
#container #softskills-sect h1 {
    font-size: 250%;
}
#container #skills-sect p,
#container #skills2-sect p,
#container #softskills-sect p {
    margin-bottom: 50px;
    font-style: italic;
}
#container #skills-sect .contain,
#container #skills2-sect .contain,
#container #softskills-sect .contain {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 80%;
    margin: -10px 0;
    border-top: solid 2px #00233B;
}
#container #skills-sect .contain:first-child,
#container #skills2-sect .contain:first-child,
#container #softskills-sect .contain:first-child {
    border-top: none;
}
#container #skills-sect .contain .card,
#container #skills2-sect .contain .card,
#container #softskills-sect .contain .card {
    border-radius: 0.3rem;
    width: 200px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1230px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 5px;
    }
}
@media screen and (max-width: 1170px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 0;
    }
}
@media screen and (max-width: 1115px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 -10px;
    }
}
@media screen and (max-width: 1010px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 -15px;
    }
}
@media screen and (max-width: 965px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 -25px;
    }
}
@media screen and (max-width: 865px) {
    #container #skills-sect .contain .card,
    #container #skills2-sect .contain .card,
    #container #softskills-sect .contain .card {
        margin: 0 -35px;
    }
}
#container #skills-sect .contain .card img,
#container #skills2-sect .contain .card img,
#container #softskills-sect .contain .card img {
    height: 80%;
}
#container #skills-sect .contain .card:has(h2) img,
#container #skills2-sect .contain .card:has(h2) img,
#container #softskills-sect .contain .card:has(h2) img {
    height: 50%;
}
#container #skills-sect .contain .card .yeet,
#container #skills2-sect .contain .card .yeet,
#container #softskills-sect .contain .card .yeet {
    font-size: 80px;
}
#container #skills-sect .contain .card h2,
#container #skills2-sect .contain .card h2,
#container #softskills-sect .contain .card h2 {
    margin: 5px 0;
}
#container #skills-sect .contain .card p,
#container #skills2-sect .contain .card p,
#container #softskills-sect .contain .card p {
    cursor: pointer;
    color: aqua;
    transition: color 0.15s ease-in-out;
}
#container #skills-sect .contain .card p:hover,
#container #skills2-sect .contain .card p:hover,
#container #softskills-sect .contain .card p:hover {
    color: rgb(0, 184, 184);
    transition: color 0.15s ease-in-out;
}
/* Work */
#container #work-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #work-sect h2 {
    margin-bottom: 50px;
}
#container #work-sect .contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#container #work-sect .contain .card {
    background: #00233B;
    padding: 5px;
    border-radius: 0.3rem;
    width: 400px;
    margin: 10px;
}
#container #work-sect .contain .card img {
    width: 100%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}
#container #work-sect .contain .card img:hover {
    scale: 1.1;
    transition: all 0.15s ease-in-out;
}
#container #work-sect .contain .card h2 {
    margin: 5px 0;
}
#container #work-sect .contain .card p {
    cursor: pointer;
    color: aqua;
    transition: color 0.15s ease-in-out;
}
#container #work-sect .contain .card p:hover {
    color: rgb(0, 184, 184);
    transition: color 0.15s ease-in-out;
}
/* School */
#container #school-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #school-sect h2 {
    margin-bottom: 50px;
}
#container #school-sect .contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#container #school-sect .contain .card {
    background: #00233B;
    padding: 5px;
    border-radius: 0.3rem;
    width: 400px;
    margin: 10px;
}
#container #school-sect .contain .card img {
    width: 100%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    height: 250px;
}
#container #school-sect .contain .card img:hover {
    scale: 1.05;
    transition: all 0.15s ease-in-out;
}
#container #school-sect .contain .card h2 {
    margin: 5px 0;
}
#container #school-sect .contain .card p {
    color: aqua;
}
#container #school-sect .contain .card p.formation {
    color: white;
    font-style: italic;
}
#container #school-sect .contain .card .pins {
    display: none;
    color: rgb(220, 140, 90);
}
#showPinsRISC:hover ~ #pinsRISC {
    display: block !important;
}
#showPinsSIO:hover ~ #pinsSIO {
    display: block !important;
}
#showPinsSLAM:hover ~ #pinsSLAM {
    display: block !important;
}

/* Cont. studies Section */
#container #cont-studies-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #cont-studies-sect h2 {
    margin-bottom: 50px;
}
#container #cont-studies-sect .contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#container #cont-studies-sect .contain .card {
    padding: 5px;
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
#container #cont-studies-sect .contain .card.start {
    width: 150px;
}
#container #cont-studies-sect .contain .card .item {
    background: #00233B;
    width: 50%;
    padding: 20px;
    border: solid 3px white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#container #cont-studies-sect .contain .card.start .item {
    background: #00233B;
    width: 100%;
    height: 150px;
    padding: 10px;
    border: solid 3px white;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    font-weight: bold;
}
#container #cont-studies-sect .contain .card .item u {
    font-weight: bold;
    font-size: 110%;
}
/* Exp Section */
#container #exp-sect {
    border-top: solid 2px #00233B;
    border-bottom: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #exp-sect h2 {
    margin-bottom: 50px;
}
#container #exp-sect .contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#container #exp-sect .contain .card {
    background: #00233B;
    padding: 5px;
    border-radius: 0.3rem;
    width: 400px;
    margin: 10px;
    cursor: pointer;
    border: solid 2px #00233B;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.15s ease-in-out;
}
#container #exp-sect .contain .card:hover {
    background: #001a2b;
    border: solid 2px #00233B;
    transition: all 0.15s ease-in-out;
}
#container #exp-sect .contain .card img {
    width: 80%;
}
#container #exp-sect .contain .card .company-name {
    font-size: 200%;
    align-self: flex-start;
}
#container #exp-sect .contain .card h2 {
    margin: 10px 0 5px 0;
    align-self: flex-start;
}
#container #exp-sect .contain .card p {
    color: rgb(0, 141, 141);
    font-weight: bold;
    align-self: flex-start;
}


#container #contact-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container #contact-sect .container {
    background: #00233B;
    width: 80%;
    border-radius: 0.4rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media screen and (min-width: 900px) {
    #container #contact-sect .container {
        width: 700px;
    }
}
#container #contact-sect .container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#container #contact-sect .container hr {
    border: solid 2px #013255;
}
#container #contact-sect .container .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#container #contact-sect .container .content textarea {
    resize: vertical;
}
#container #contact-sect .container .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
#container #contact-sect .container .footer #errorLogin {
    font-style: italic;
    color: #f44336;
}
input,
textarea,
select {
    background: #00243e;
    color: white;
    border: solid 3px #001626;
    outline: none;
    border-radius: 0.3rem;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    transition: all 0.15s ease-in-out;
}
input::placeholder,
textarea::placeholder {
    color: rgb(197, 255, 250);
}
input:focus,
textarea:focus {
    background: #001524;
    border-bottom: solid 3px rgb(197, 255, 250);
    transition: all 0.15s ease-in-out;
}
input:disabled,
textarea:disabled {
    background: #001524;
    border-bottom: solid 3px rgb(49, 141, 95);
    border-left: solid 3px rgb(49, 141, 95);
    transition: all 0.15s ease-in-out;
    cursor: not-allowed;
}
button {
    cursor: pointer;
    outline: none;
    border: solid 1px #013255;
    border-radius: 0.3rem;
    padding: 5px 10px;
    background: #00243e;
    color: white;
    font-size: 130%;
    transition: all 0.15s ease-in-out;
}
button:hover {
    background: #001524;
    transition: all 0.15s ease-in-out;
}

#container #baguette-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#container #baguette-sect h1 {
    font-size: 300%;
}
#container #baguette-sect img {
    height: 100%;
}
#container #baguette-sect img:nth-child(1) {
    margin-right: -650px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: fixed;
    top: 20px;
    left: 120px;
    background: #00233B;
    color: white;
    width: calc(100vw - 150px);
    height: calc(100vh - 50px);
    border-radius: 0.5rem;
    padding: 10px;
}
.invite-to-close-modal {
    position: fixed;
    top: 50%;
    left: -48px;
    rotate: -90deg;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 150%;
}

.css-slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background: #120103; */
    color: #fff;
    text-align: center;
}
label {
    cursor: pointer;
    display: inline-block;
}
.slide {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 4em 0px;
    /* background-color: #120103; */
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.35s;
}
[id^="maSauv1-slide"]:checked + .slide,
[id^="maSauv2-slide"]:checked + .slide,
[id^="whoAmI-slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    background-color: #00233B;
    transition: left 0.35s ease-out;
}
.kartoshka {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}
.kartoshka label {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 20px 10px;
}
nav {
    position: absolute;
    top: 50px;
    margin-top: -42px;
    z-index: 900;
    width: 100%;
}
nav label {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    width: 100px;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
}
nav:hover label {
    background-color: rgba(0, 0, 0, 0.30);
    transition: all 0.15s ease-in-out;
}
.kartoshka label:hover { background: #2e353b; }
.prev {
    position: absolute;
    left: 10px;
}
.next {
    position: absolute;
    right: 10px;
}
.slide .prev, .slide .next { opacity: 0; }
[id^="maSauv1-slide"]:checked + .slide .prev, [id^="maSauv1-slide"]:checked + .slide .next,
[id^="maSauv2-slide"]:checked + .slide .prev, [id^="maSauv2-slide"]:checked + .slide .next,
[id^="whoAmI-slide"]:checked + .slide .prev, [id^="whoAmI-slide"]:checked + .slide .next {
    opacity: 1;
    transition: all 0.15s 0.15s;
}
.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.15s 0.15s, opacity 0.15s;
}
[id^="maSauv1-slide"]:checked + .slide h1,
[id^="maSauv1-slide"]:checked + .slide p,
[id^="maSauv1-slide"]:checked + .slide img,
[id^="maSauv2-slide"]:checked + .slide h1,
[id^="maSauv2-slide"]:checked + .slide p,
[id^="maSauv2-slide"]:checked + .slide img,
[id^="whoAmI-slide"]:checked + .slide h1,
[id^="whoAmI-slide"]:checked + .slide p,
[id^="whoAmI-slide"]:checked + .slide img {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.15s 0.15s;
}
.slide-one img {
    margin-top: 60px;
}
#who-am-i-modal .slide-one img {
    margin-top: 0;
}
.slide-one hr {
    margin: 50px 130px;
    border: solid 2px rgba(255, 255, 255, 0.1);
}
.slide-one p {
    font-size: 150%;
    margin: 0 150px;
}
.slide-one h1 {
    font-size: 150%;
}

#who-am-i-modal .container-row {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#who-am-i-modal .container-row .row {
    height: 50%;
    margin: 0 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 400%;
}
#who-am-i-modal .container-row .row img {
    height: 80%;
}
#who-am-i-modal .container-row .row span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 80%;
}
@media screen and (max-height: 860px) {
    #who-am-i-modal .container-row {
        height: 450px;
    }
}
@media screen and (max-height: 800px) {
    #who-am-i-modal .container-row {
        height: 400px;
    }
}
@media screen and (max-height: 750px) {
    #who-am-i-modal .container-row {
        height: 350px;
    }
}

.info #info-frenchDev,
.info #info-myAge,
.info #info-sdmis,
.info #info-blms {
    display: none;
}
